.index {
	padding-top: 3em;
	background-image: url("/images/columbus.jpg");
	background-repeat: no-repeat;
	background-position: center, center;
}
.active {
	background-color: #A9A9A9;
	color: black;
}

.index-grid {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	margin-bottom: auto;
}

.restaurant-grid {
	display: grid;
	grid-template-rows: 25% 25% 25% 25%;
	grid-template-columns: 50% 50%;
	margin: auto;
}

.restaurant-grid img {
	grid-column: 1/3;
	grid-row: 2;
	width: 30em;
}

.categories {
	display: grid;
	grid-template-rows: 30% 70%;
}
.categories-grid {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	background-color: white;
}
.categories-grid a{
	color: #333;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

img {
	max-width: 100%;
}

a img:hover {
	box-shadow: 0 0 3px 3px #333;
}

#cuisine {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-flow: row-wrap;
	align-items: space-around;
}

#eachcuisine {
	display: grid;
	grid-template-columns: 1fr, 1fr;
	align-content: space-evenly;
}
#content-layout {
	margin-top: 6em;
	margin-left: 15em;
	margin-right: 15em;
}

body {
	margin: 0px;
	background-image: url("/images/woodWallpaper.jpg");
}

footer {
	height: 40px;
	text-align: center;
}