<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Categories</title>

<link rel="stylesheet" type="text/css" href="/index.css"></link>
<link rel="stylesheet" type="text/css" href="layout.css"></link>

</head>

<body>
	<nav class="navbar">
		<ul>
			<li><a class="inactive" href="/home">Home</a></li>
			<li><a class="active">Cuisines</a></li>
			<li><a class="inactive" href="/restaurants">Restaurants</a></li>
		</ul>
	</nav>

	<h1>What are you in the mood for?</h1>
	<h2>Select cuisine:</h2>
	<article id ="cuisine" th:each="currentCategory: ${categories}">
		<h2>
			<a th:href="@{/category/(id=${currentCategory.id})}"
				th:text="${currentCategory.name}">
			</a>
		</h2>
		<a th:href="@{/category/(id=${currentCategory.id})}"><img th:src="${currentCategory.image}" alt="Image Not Available"/></a>
	</article>
</body>
<footer>


	<p>Created by C&amp;T Perfected by A&amp;R &#169; 2017 all
		information and comments are not real and are for demo purpose only</p>
</footer>

</html>