<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title th:text="'Category: '+ ${category.name}"></title>
<link rel="stylesheet" type="text/css" href="/style.css"></link>
<link rel="stylesheet" type="text/css" href="/layout.css"></link>
</head>
<body>
	<nav class="navbar">
		<ul>
			<li><a class="active" href="/home">Home</a></li>
			<li><a class="inactive" href="/categories">Cuisines</a></li>
			<li><a class="inactive" href="/restaurants">Restaurants</a></li>
			<li><a class="inactive" href="/tags">Locations</a></li>
		</ul>
	</nav>
	<div class="home">
		<h1>
			List of <span th:text="${category.name}"></span> Restaurants:
		</h1>


		<section id="eachcuisine"
			th:each="currentCategory: ${category.reviews}"
			th:href="@{/category/(id=${currentCategory.id})}">
			<span><a th:href="@{/restaurant(id=${currentCategory.id})}">
					<h3 th:text="${currentCategory.restaurant}"></h3> <img
					th:src="${currentCategory.image}" />
			</a></span>

		</section>
	</div>
			<img th:src="${category.image}" />
	<footer>
		<p>Created by C&amp;T Perfected by A &amp; R &#169;2017 all
			information and comments are not real and are for demo purpose only</p>
	</footer>
</body>
</html>