<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<link rel="stylesheet" type="text/css" href="style.css"></link>
<link rel="stylesheet" type="text/css" href="layout.css"></link>
</head>
<body>
	<nav class="navbar">
		<ul>
			<li><a class="active" href="/home">Home</a></li>
			<li><a class="inactive" href="/categories">Cuisines</a></li>
			<li><a class="inactive" href="/restaurants">Restaurants</a></li>
			<li><a class="inactive" href="/tags">Locations</a></li>
		</ul>
	</nav>
	<div class="index">


		<h1>Life's too short to eat anything less than delicious! Check
			out the Columbus food scene.</h1>
		<h2>Select:</h2>
		<div class="index-grid">
			<a id="categories" href="/categories">View By Cuisine</a> <a
				id="restaurants" href="/restaurants">See All Restaurants</a>
				<a id="locations" href="/tags>">View By Location</a>
		</div>
	</div>
</body>
</html>