<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todd Atkins Portfolio</title>
    <link rel="stylesheet" href="index.css">
</head> 
<a name="top"></a>

<body>
	<!-- Header -->
	<header>
    	<h1>Todd Atkins Portfolio</h1>
    	<img id="my-pic" src="./todd-atkins-headshot.jpg" />
    
	<!-- Navigation of the site -->
	<nav class="menu">
		
			<ul>
				<li><a href="#About Me">About Me</a></li>
				<li><a href="#Projects">Projects</a></li>
				<li><a href="#Contact">Contact</a></li>
			</ul>
	</nav>
</header>