<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title th:text="'Restaurant: '+ ${restaurant.restaurant}"></title>
<link rel="stylesheet" type="text/css" href="/style.css"></link>
<link rel="stylesheet" type="text/css" href="/layout.css"></link>
</head>
<body>

	<header>
		<h1 th:text="${restaurant.restaurant}"></h1>
	</header>

	<nav class="navbar">
		<ul>
			<li><a class="inactive" href="/home">Home</a></li>
			<li><a class="inactive" href="/categories">Cuisines</a></li>
			<li><a class="inactive" href="/restaurants">Restaurants</a></li>
			<li><a class="inactive" href="/tags">Locations</a></li>
		</ul>
	</nav>

	<article>
		<div class="content">
			<div id="content-layout">
				<br></br>
				<p th:text="'Phone Number: ' + ${restaurant.phoneNumber}"></p>
				<p th:text="'Address: ' + ${restaurant.address}"></p>
				<img class="restaurant-image" th:src="${restaurant.image}" />
				<p id="each-review" th:text="${restaurant.content}"></p>
				<br></br>
			</div>
		</div>
		<h2 th:text="${restaurant.category}"></h2>

	</article>
	<footer>
		<p>Created by C&amp;T Perfected by A &amp; R &#169;2017 all
			information and comments are not real and are for demo purpose only</p>
	</footer>
</body>

</html>