<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="'Location: '+ ${tag.location}"></title>
<link rel="stylesheet" type="text/css" href="style.css"></link>
<link rel="stylesheet" type="text/css" href="layout.css"></link>
</head>
<body>
<nav class="navbar">
		<ul>
			<li><a class="inactive" href="/home">Home</a></li>
			<li><a class="inactive" href="/categories">Cuisines</a></li>
			<li><a class="inactive" href="/restaurants">Restaurants</a></li>
			<li><a class="inactive" href="/tags">Locations</a></li>
		</ul>
	</nav>
	<h1>
		<a th:text="${tag.location}"></a> Restaurants
	</h1>
	<h2>Select restaurant:</h2>

	<article>
		<a th:each="current: ${tag.taggedBy}"
			th:href="@{/restaurant/(id=${current.id})}"><img
			th:src="${current.image}" /></a>
	</article>

</body>
</html>