<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<link rel="stylesheet" type="text/css" href="style.css"></link>
<link rel="stylesheet" type="text/css" href="layout.css"></link>
</head>
<body>
<nav class="navbar">
		<ul>
			<li><a class="inactive" href="/home">Home</a></li>
			<li><a class="inactive" href="/categories">Cuisines</a></li>
			<li><a class="inactive" href="/restaurants">Restaurants</a></li>
			<li><a class="inactive" href="/tags">Locations</a></li>
		</ul>
	</nav>
	<h2>Select location:</h2>
	<div>
		
			<h3 th:each="tag: ${tags}"><a
				th:href="@{/tag(id=${tag.id})}"><span th:text="${tag.location}" />
			</a></h3>
			<img src="images/columbusSkylineAndMap.jpg"/>
		
	</div>

</body>
</html>