header {
	
}

.home {
	background-image: url("/images/columbus/jpg");
}

.home-grid {
	display: flex;
	align-self: center;
	justify-content: center;
	padding: 2em;
}

#cuisine {
	display: grid;
	
}

#restaurants {
	grid-column: 2/3;
}

img {
	max-width: 100%;
}

img:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.thumbnail img {
	border: 3px solid #ddd; /* Gray border */
	border-radius: 4px; /* Rounded border */
	padding: 5px; /* Some padding */
	max-width: 10em; /* Set a small width */
}

.navbar {
	
}

#cuisine {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-flow: row-wrap;
	align-items: space-around;
	
}

#eachcuisine {
	display: grid;
	grid-template-columns: 1fr, 1fr;
	align-content: space-evenly;
}

.repeatreview {
	text-align: center;
}

.repeatimage {
	width: 80%;
	height: auto;
	display: inline-block;
	padding: 5px;
	border: solid 2px black;
}

html, body {
	margin: 0;
	height: 100%;
	min-height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
}

header {
	flex: 1 0 10%;
}

#cuisine {
	flex: auto;
	overflow-y: auto;
}

footer {
	height: 40px;
	text-align: center;
}