
*{
	font-family: "Arial";
	text-align: center:
}
h1 {
	text-shadow: 2px 2px rgb(220, 223, 232);
	font-size: 55px;
	text-align: center;	
}
.home {
	font-size: 50px;
}
.navbar {
	color: white;
	background-color: black;
}

h2 {
	font-size: 40px;
	width: 100%;
	text-align: center;
	color: black;
}

a:link {
	color: blue;
	text-decoration: none;
}

a:visited{
	color: purple;
	text-decoration: none;
}

a:hover{
	color: gray;
	text-decoration: underline;
}

a:active{
	color: white;
	text-decoration: underline;
}
