* {
	font-family: "Arial";
	text-align: center;
	color: white;
}

h1 {
	text-shadow: 2px 2px rgb(220, 223, 232);
	font-size: 55px;
	text-align: center;
}

.index {
	font-size: 50px;
}
.content h3, p {
	color: #333;
}
.content {
	background-color: white;
}
p {
	margin: 30px;
	font-size: 22px;
}

h2 {
	font-size: 40px;
}

a:link {
	color: #b4b4b4;
}

a:visited {
	color: #f0f0f0;
}

a:hover {
	color: #6a5acd;
}

a:active {
	color: #6a5acd;
}
